<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='voltarParaPerfil()' defaultHref="perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Experiências Profissionais</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
      <!-- <img src="/assets/shapes.svg" alt="" /> -->
        <ion-card-header>       
          <ion-card-title>Suas Experiências Profissionais</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-content>
        <ion-list *ngFor="let p of listaExperiencia">
            <ion-card style="cursor: pointer;"padding (click)=mostrarBtnModificar()>
              <ion-input> 
                Empresa: {{p.nomeEmpresa}}
              </ion-input>
              <ion-input> 
                  Data Inicio: {{p.dtInicio}} 
              </ion-input>
              <ion-input> 
                  Data Fim: {{p.dtFim}} 
              </ion-input>
              <h6 class="formatar" >Descrição Ativividades :</h6>
              <ion-input> 
                  {{p.descricaoAtividades}}
              </ion-input>
              <ion-button *ngIf="editar" expand="full" color="primary" (click)=modificarExperiencia(p)>Editar</ion-button>
            </ion-card>   
        </ion-list>
      </ion-content>
      <ion-button expand="full" color="primary" (click)=criarModalAdicionar()>Adicione uma Experiência</ion-button>
    </ion-content>
